:root {
    --darkGray: rgb(107, 101, 101);
    --lightBlue: rgb(148, 210, 231);
}

body{
    margin: auto;
    padding: auto;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif
}
 
                    /********** Header ************/
header{
    margin: auto;
    padding: auto;
}
.navBar {
    display: flex;
    background-color: var(--darkGray);
    font-weight: bold;
    margin: auto;
    padding: auto;
}
.name {
    background-color: var(--lightBlue);
    color: var(--darkGray);
    align-self: flex-start;
    font-size: 120%;
    margin: 10px 0;
    padding: 0 10px;
}
.menu{
    display: flex;
    flex: auto;
    justify-content: flex-end;
    align-items: flex-end;
    
    /* margin: auto 10px auto auto; */
}
.menu ul {
    display: flex;
    align-items: flex-end;
}
li {
    flex-grow: 1;
    list-style-type: none;
    border-bottom: 3px solid var(--lightBlue);
    margin: 0 10px;
    padding: 10px;
    padding-bottom: 5px;
  }
li a {
    text-align: center;
    text-decoration: none;
    color: var(--lightBlue);
}
li:hover {
    background-color: rgb(160, 151, 151);
}

                    /* subtitle */
.subtitle{
    display: flex;
    background-image: linear-gradient(to right, rgb(126, 139, 163) , rgb(98, 146, 209));
    height: 100px;
    margin: auto;
    justify-content: flex-end;
    align-items: flex-end;
}

.subtitle h2{
    background-color: var(--darkGray);
    color: var(--lightBlue);
    font-size: 150%;
    margin: 10px;
    padding: 10px;
}

                    /********** Main ************/
main{
    display: block;
}
                    /*section Containers*/
.sectionContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
}
.sectionTitle{
    align-self: flex-start;
    flex: 1;
    align-self: center;
}
.sectionTitle h2{
    text-align: right;
    margin: 10px;
    padding: 10px;
}
.sectionContent{
    display: flex;
    flex: auto;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    flex: 3;
    align-self: flex-end;
    margin: 10px;
    padding-left: 20px;
    border-left: 3px solid var(--lightBlue);
}
                    /*  body images */
.mainImageCont{
    display: flex;
    flex: auto;
    max-width: 80%;
    margin: 0px;
    padding: 0px;
}
.mainImageCont img{
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    border: 3px solid var(--lightBlue);
}
.projects{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
}
.projects div{
    display: flex;
    max-width: 40%;
    height: auto;
    margin: 10px;
    padding: auto;
}
.projects div img{
    max-width: 100%;
    height: auto;
    margin: auto;
    padding: auto;
    border: 3px solid var(--lightBlue);
}
.label{
    align-self: flex-end;
    justify-self: flex-start;
    position: absolute;
    background-color: var(--darkGray);
    color: var(--lightBlue);
    font-weight: bold;
    border: 3px solid var(--lightBlue);
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
}
                    /********** Footer ************/